server {
  listen  80;
  server_name {{ item.hostname }};
  root /opt/{{ item.name }}/www;
  index index.html index.htm;

  location /da-api {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass   http://localhost:{{ item.port }}/da-api;
   }
}